body{
    width: 200px;
}

.username {
    font-size: 1.5em;
}

.main-color{
    color: rgba(0,0,0,.6);
}

.department-name {
    font-size: 0.8em;
    margin-top: -5px;
    color: darkgray;
}

.btn-daily-pulse{
    background-color: #68d391;
}

.w-33 {
    width: 33%;
}

.nav-item .active, .nav-item .active > a:hover, .nav-tabs .nav-link {
    border: 0;
}

.nav-item{
    font-size: 1em;
}

.nav-item > a{
    color: black;
}

.nav-item .active::before {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    top: 90%;
    height: 0;
    border-radius: 4px;
    border: 3px solid #ffc11e;
    transition: all .5s ease;
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
    opacity: .8;
}

.bg-gray {
    background-color: #F2F2F2!important;
}
.text-lg {
    font-size: 1.125rem!important;
}

.font-semi-bold {
    font-weight: 600!important;
}

.font-semi-visible{
    opacity: 0.7;
}

.rotate-180{
    transform: rotate(-180deg);
}

.cursor-pointer {
    cursor: pointer;
}

.thump-up{
    height: 30px;
    width: 30px;
    background-image: url("./../images/thumb-up.svg");
}

.thump-up-active{
    background-image: url("./../images/thumb-up-active.svg");
}

.checked {
    color: #ffc11e;
}

.send{
    height: 50px;
    width: 50px;
    background-image: url("./../images/send.svg");
}

.send:hover{
    background-image: url("./../images/send-active.svg");
    cursor: pointer;
}

.attachment{
    height: 50px;
    width: 50px;
    background-image: url("./../images/paperclip.svg");
}

.attachment:hover{
    background-image: url("./../images/paperclip-active.svg");
    cursor: pointer;
}

.ml-160{
    margin-left: 160px;
}
